<h3 class = "text-center">Your Gainers</h3>
<div class = "card-body px-0">
    <ul class = "list-group">
        <li class = "list-group-item text-center">
            Apple - 2.5%
        </li>
        <li class = "list-group-item text-center">
            Apple - 2.5%
        </li>
        <li class = "list-group-item text-center">
            Apple - 2.5%
        </li>
        <li class = "list-group-item text-center">
            Apple - 2.5%
        </li>
        <li class = "list-group-item text-center">
            Apple - 2.5%
        </li>
    </ul>
</div>
<section>
    <button (click)='makeTickerServiceCall()'>AMD</button>
</section>
